.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 3px solid black;
    width: 500px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.parte-superior {
    width: 499px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;

}

.iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.imagen {
    width: 500px;
    height: 350px;
    background-color: black;
}

.textos {

    width: 496px;
    height: 129px;
    margin: 5px;
    padding: 5px;


}

.html {
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    margin: 5px;
    padding: 5px;
    gap: 5px;

}

.rigo {
    font-size: 20px;
}

.puntos {
    margin-right: 5px;
}

.tresiconos {

    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 5px;
    gap: 5px;

}

.guardar {
    margin-right: 10px;
}
.img {
    width: 100%;
    height: 100%;
}